.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $navbar-color;
    padding: 1rem;

    ul
    {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 1rem;
    }

    li
    {
        margin: 0rem 0.5rem;
    }

    a
    {
        transition: color 0.2s;
        text-decoration: none;
        color: $font-color;
    }

    a:hover
    {
        color: $main-color;
    }
}

.links
{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 1rem;

    li
    {
        margin: 0rem 0.5rem;
    }

    a
    {
        transition: color 0.2s;
        text-decoration: none;
        color: white;
    }

    a:hover
    {
        color: $main-color;
    }
}

.button
{
    background-color: $main-color;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
}

.buttonContainer
{
    display: flex;
    
}

.itemList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    li
    {
        list-style: none;   
    }

    a
    {
        text-decoration: none;
        color: white;
    }

    a:hover
    {
        color: $main-color;
    }
}

.cartWidget
{
    display:flex;
    color: white;
    font-size: 2rem;

    p
    {
        margin: 0rem 1rem;
    }
}

.contador
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0rem auto;
    padding: 1rem;
    background-color: $background-color-2;

    p
    {
        font-size: 1.5rem;
        color: white;
    }

    .contador__buttons
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $main-color;
        border-radius: 5px;
        width: 90%;
        margin: 1rem 0rem;
        background-color: $navbar-color;
        
        button
        {
            @include countButtonStyle;
        }
    }

    button
        {
            @include countButtonStyle;
            font-size: 1rem;
            border: 2px solid $main-color;
            border-radius: 5px;
            padding: 1rem;
            background-color: $navbar-color;
        }
}

.itemStyle
{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 2px solid $main-color;
    width: 400px;
    background-color: $background-color-2;

    h3
    {
        background-color: $main-color;
        padding: 1rem;
        color: white;
    }

    img
    {
        margin: 1rem;
        border: 2px solid $main-color;
        border-radius: 1.5rem;
    }

    .itemStyle__price
    {
        color: $main-color;
        font-size: 2rem;   
        padding: 0.5rem; 
    }

    .itemStyle__detail
    {
        color: white;
        font-size: 1.1rem;
    }
}

.itemListStyle
{
    display: flex;
}