.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $navbar-color;
    padding: 1rem;

    ul
    {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 1rem;
    }

    li
    {
        margin: 0rem 0.5rem;
    }

    a
    {
        transition: color 0.2s;
        text-decoration: none;
        color: $font-color;
    }

    a:hover
    {
        color: $main-color;
    }
}

.links
{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 1rem;

    .active
    {
        border-bottom: 2px solid $main-color;
        color: $main-color;
    }

    a
    {
        transition: color 0.2s;
        text-decoration: none;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    a:hover
    {
        color: $main-color;
    }
}

.button
{
    background-color: $main-color;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
}

.buttonContainer
{
    display: flex;
    
}

.itemList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    li
    {
        list-style: none;   
    }

    a
    {
        text-decoration: none;
        color: white;
    }

    a:hover
    {
        color: $main-color;
    }
}

.cartWidget
{
    display:flex;
    color: white;
    font-size: 2rem;

    p
    {
        margin: 0rem 1rem;
    }
}

.contador
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0rem auto;
    padding: 1rem;
    background-color: $background-color-2;

    p
    {
        font-size: 1.5rem;
        color: white;
    }

    .contador__buttons
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $main-color;
        border-radius: 5px;
        width: 90%;
        margin: 1rem 0rem;
        background-color: $navbar-color;
        
        button
        {
            @include countButtonStyle;
        }
    }

    button
        {
            @include countButtonStyle;
            font-size: 1rem;
            border: 2px solid $main-color;
            border-radius: 5px;
            padding: 1rem;
            background-color: $navbar-color;
        }

    .contador__otherButtons
    {
        display: flex;
    }
}

.itemStyle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 400px;
    background-color: $background-color-2;
    @include boxShadow; 
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1,1);

    h3
    {
        font-size: 1.5rem;
        color: $main-color;
        padding: 1rem;
        width: 100%;
    }

    img
    {
        border: 3px solid $color-7;
        margin: 1rem;
        width: 80%;
    }

    .itemStyle__price
    {
        color: $main-color;
        font-size: 2rem;   
        padding: 0.5rem; 
    }

    .itemStyle__detail
    {
        color: white;
        font-size: 1.1rem;
    }
}

.itemStyle:hover
{
    transform: scale(1.02,1.02);
}

.itemListStyle
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem; 
}

.itemDetail
{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $background-color-3;
    color: white;
    font-size: 1rem;
    @include boxShadow; 

    img
    {
        border: 3px solid $color-7;
        margin: 0.5rem;
        width: 20%;
    }

    .itemDetail__detail
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin: 1rem;

        span
        {
            color: $main-color;
        }

        h3
        {
            font-size: 1.5rem;
        }

        p
        {
            font-size: 1.5rem;
        }
    }
}

.showDetails
{
    font-size: 1rem;
    border: 2px solid $main-color;
    border-radius: 5px;
    padding: 1rem;
    background-color: $navbar-color;
    margin-bottom: 1rem;
    color: $main-color;
}

.cartStyle
{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 600px;
    height: 650px;

    svg
    {
        margin: 1rem;
        width: 200px;
        height: 200px;
        color: white;
    }

    p
    {
        font-size: 3rem;
        color: white;
    }
}