body {
    background-color: $background-color;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: $color-8;
}

body::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border: 5px solid $color-8;  
    border-radius: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $navbar-color;
    padding: 2rem;
    color: $main-color;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:active {
    color: black;
}

button {
    cursor: pointer;
}
