//Original Colors
$main-color: #f34213;
$background-color: #2e2e3a;
$font-color: white;
$navbar-color: #212529;

//Button
$buttonBackgroundColor: #212529;

//Button:hover
$buttonHoverColor: white;

//Button:active
$buttonActiveColor: black;
$buttonActiveBackground: white;
$buttonColorActiveBorder: white;

//Shadow
$shadowColor: black;

//Scrollbar
$scrollBarColor: #292931;

//Links
$linkVisitedColor: white;
$linkActiveColor: black;

//Cart
$cartWidgetFontColor: white;
$itemInCartBackgroundColor: #1f1f27;
$itemInCartBorderColor: #1f1f27;
$menuCartBackgroundColor: #1f1f27;
$menuCartPriceFontColor: white;

//Item
$itemBorderColor: #1f1f27;
$itemBackgroundColor: #2b2b34;
$itemStockBackgroundColor: #1f1f27;
$itemStockFontColor: #f34213;
$imageBorderColor: #1f1f27;
$detailFontColor: white;
$countNumberColor: white;

//Badge
$gameBadgePriceColor: #1f1f27;
$gameBadgePriceBackground: #f34213;
$gameBadgeGenreColor:#f34213;
$gameBadgeGenreBackground:#1f1f27;

//ProductFinder
$finderBackgroundColor: #1f1f27;
$finderFontColor: white;