//COLORES ORIGINALES
$main-color: #f34213;
$background-color: #2e2e3a;
$font-color: white;
$navbar-color: #212529;

//BUTTON
$buttonBackgroundColor: #212529;

//BUTTON HOVER
$buttonHoverColor: white;

//BUTTON ACTIVE
$buttonActiveColor: black;
$buttonActiveBackground: white;
$buttonColorActiveBorder: white;

//SHADOW
$shadowColor: black;

//SCROLLBAR
$scrollBarColor: #292931;

//LINK
$linkVisitedColor: white;
$linkActiveColor: black;

//CART
$cartWidgetFontColor: white;
$itemInCartBackgroundColor: #1f1f27;
$itemInCartBorderColor: #1f1f27;
$menuCartBackgroundColor: #1f1f27;
$menuCartPriceFontColor: white;

//ITEM
$itemBorderColor: #1f1f27;
$itemBackgroundColor: #2b2b34;
$itemStockBackgroundColor: #1f1f27;
$itemStockFontColor: #f34213;
$imageBorderColor: #1f1f27;
$detailFontColor: white;
$countNumberColor: white;

//BADGE
$gameBadgePriceColor: #1f1f27;
$gameBadgePriceBackground: #f34213;
$gameBadgeGenreColor:#f34213;
$gameBadgeGenreBackground:#1f1f27;