//Original Colors
$main-color: #cce00e;
$background-color: #202124;
$font-color: #ffff9e;
$navbar-color: #171717;

//Button
$buttonBackgroundColor: #212529;

//Button:hover
$buttonHoverColor: black;

//Button:active
$buttonActiveColor: white;
$buttonActiveBackground: black;
$buttonColorActiveBorder: black;

//Scrollbar
$scrollBarColor: #292931;

//Links
$linkVisitedColor: #ffff9e;
$linkActiveColor: black;

//Cart
$cartWidgetFontColor: #ffff9e;
$itemInCartBackgroundColor: #1f1f27;
$itemInCartBorderColor: #1f1f27;
$menuCartBackgroundColor: #1f1f27;
$menuCartPriceFontColor: #ffff9e;

//Item
$itemBorderColor: #1f1f27;
$itemBackgroundColor: #171717;
$itemStockBackgroundColor: #1f1f27;
$itemStockFontColor: #cce00e;
$imageBorderColor: #1f1f27;
$detailFontColor: #ffff9e;
$countNumberColor: #ffff9e;

//Badge
$gameBadgePriceColor: #1f1f27;
$gameBadgePriceBackground: #cce00e;
$gameBadgeGenreColor:#cce00e;
$gameBadgeGenreBackground:#1f1f27;

//Shadow
$shadowColor: black;

//Colors
$color-1: #b3bbbd;
$color-2: #8596a0;
$color-3: #6e7c85;
$color-4: #2b3942;
$color-5: #212e36;
$color-6: #121b22;
$color-7: #008efa;
$color-8: #0069c1;
$font-color: #b3bbbd;