//COLORES ORIGINALES
$main-color: #cce00e;
$background-color: #202124;
$font-color: #ffff9e;
$navbar-color: #171717;

//BUTTON
$buttonBackgroundColor: #212529;

//BUTTON HOVER
$buttonHoverColor: #ffff9e;

//BUTTON ACTIVE
$buttonActiveColor: black;
$buttonActiveBackground: #ffff9e;
$buttonColorActiveBorder: #ffff9e;

//SCROLLBAR
$scrollBarColor: #292931;

//LINK
$linkVisitedColor: #ffff9e;
$linkActiveColor: black;

//CART
$cartWidgetFontColor: #ffff9e;
$itemInCartBackgroundColor: #1f1f27;
$itemInCartBorderColor: #1f1f27;
$menuCartBackgroundColor: #1f1f27;
$menuCartPriceFontColor: #ffff9e;

//ITEM
$itemBorderColor: #1f1f27;
$itemBackgroundColor: #171717;
$itemStockBackgroundColor: #1f1f27;
$itemStockFontColor: #cce00e;
$imageBorderColor: #1f1f27;
$detailFontColor: #ffff9e;
$countNumberColor: #ffff9e;

//BADGE
$gameBadgePriceColor: #1f1f27;
$gameBadgePriceBackground: #cce00e;
$gameBadgeGenreColor:#cce00e;
$gameBadgeGenreBackground:#1f1f27;

//SHADOW
$shadowColor: black;

//COLORS
$color-1: #b3bbbd;
$color-2: #8596a0;
$color-3: #6e7c85;
$color-4: #2b3942;
$color-5: #212e36;
$color-6: #121b22;
$color-7: #008efa;
$color-8: #0069c1;
$font-color: #b3bbbd;
